<% title %>

<div class='h2 row mb-4 subtitle'>
  "Search all" covers these sources
</div>

<div class='card-deck bento-panels homepage-panels'>
  <div class='card'>
    <%= image_tag 'catalog.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
    <div class='card-body'>
      <h2 class='card-title'><%= link_to 'Catalog', Settings.CATALOG_HOME_URL %></h2>
      <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Physical and digital books, media, journals, archives, and databases.</p>
    </div>
  </div>
  <div class='card'>
    <%= image_tag 'articles.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
    <div class='card-body'>
      <h2 class='card-title'><%= link_to 'Articles+', Settings.ARTICLES_HOME_URL %></h2>
      <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Journal articles, e-books, and other e-resources.</p>
    </div>
  </div>

  <% if Settings.ENABLED_SEARCHERS.include?('lib_guides') %>
    <div class='card'>
      <%= image_tag 'guides.png', class: 'card-img-top', alt: '', role: 'presentation' %>
      <div class='card-body'>
        <h2 class='card-title'><%= link_to 'Guides', Settings.LIBGUIDES.HOME_URL %></h2>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Course- and topic-based guides to collections, tools, and services.</p>
      </div>
    </div>
  <% end %>

  <div class='card'>
    <%= image_tag 'website.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
    <div class='card-body'>
      <h2 class='card-title'><%= link_to 'Library website', Settings.LIBRARY_WEBSITE_HOME_URL %></h2>
      <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Libraries and subject specialists; blogs, events, and policies.</p>
    </div>
  </div>

  <% if Settings.ENABLED_SEARCHERS.include?('exhibits') %>
    <div class='card'>
      <%= image_tag 'exhibits.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
      <div class='card-body'>
        <h2 class='card-title'><%= link_to 'Exhibits', Settings.EXHIBITS.HOME_URL %></h2>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Digital showcases for research and teaching.</p>
      </div>
    </div>
  <% end %>

  <div class='card'>
    <%= image_tag 'yewno.jpg', class: 'card-img-top', alt: '', role: 'presentation' %>
    <div class='card-body'>
      <h2 class='card-title'><%= link_to 'Yewno', Settings.YEWNO_HOME_URL %></h2>
      <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Knowledge graphs for interconnecting concepts.</p>
    </div>
  </div>
</div>
<%= render partial: 'shared/more_search_tools' %>
