<%= render 'shared/search_form' %>
<div class="mt-20 centered relative lg:max-w-[980px]">
  <h2 class="text-center">Search covers these sources</h2>
</div>

<div class="mb-30 flex flex-col gap-32 @container">
  <div class="centered flex flex-col justify-between gap-10 *:mx-auto *:w-full md:flex-row md:flex-wrap *:md:w-[calc(50%_-_5rem)] lg:flex-nowrap *:lg:w-[calc(33.3%_-_5rem)]">
        <article class="border border-solid border-black-10 bg-white leading-display text-black shadow-md">
          <div class="relative h-fit w-full">
            <div class="relative aspect-[16/9]" aria-hidden="true">
              <%= image_tag 'catalog.jpg', class: 'object-cover object-center', style: "position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent", alt: '', role: 'presentation' %>
            </div>
          </div>
          <div class="card-body items-start px-24 py-30">
            <h2 class="mb-03em text-24 font-bold tracking-[-0.2px]">
              <%= link_to 'Catalog', Settings.CATALOG.HOME_URL, class: "hocus:underline transition-colors hover:text-brick-dark hover:bg-black-10 focus:bg-none focus:text-cardinal-red active:text-cardinal-red" %>
            </h2>
            <div>
              <p class=" max-w-[100ch] text-16 sm:text-18 [&amp;_li]:text-16 [&amp;_li]:sm:text-18 text-16 sm:text-18"><%= t('catalog_search.sub_heading_html') %></p>
            </div>
          </div>
        </article>

        <article class="border border-solid border-black-10 bg-white leading-display text-black shadow-md">
          <div class="relative h-fit w-full">
            <div class="relative aspect-[16/9]" aria-hidden="true">
              <%= image_tag 'articles.jpg', class: 'object-cover object-center', style: "position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent", alt: '', role: 'presentation' %>
            </div>
          </div>
          <div class="card-body items-start px-24 py-30">
            <h2 class="mb-03em text-24 font-bold tracking-[-0.2px]">
              <%= link_to 'Articles+', Settings.ARTICLE.HOME_URL, class: "hocus:underline transition-colors hover:text-brick-dark hover:bg-black-10 focus:bg-none focus:text-cardinal-red active:text-cardinal-red" %>
            </h2>
            <div>
              <p class=" max-w-[100ch] text-16 sm:text-18 [&amp;_li]:text-16 [&amp;_li]:sm:text-18 text-16 sm:text-18"><%= t('article_search.sub_heading_html') %></p>
            </div>
          </div>
        </article>

        <article class="w-full border border-solid border-black-10 bg-white leading-display text-black shadow-md">
          <div class="relative h-fit w-full">
            <div class="relative aspect-[16/9]" aria-hidden="true">
              <%= image_tag 'guides.png', class: 'object-cover object-center', style: "position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent", alt: '', role: 'presentation' %>
            </div>
          </div>
          <div class="card-body items-start px-24 py-30">
            <h2 class="mb-03em text-24 font-bold tracking-[-0.2px]">
              <%= link_to 'Guides', Settings.LIBGUIDES.HOME_URL, class: "hocus:underline transition-colors hover:text-brick-dark hover:bg-black-10 focus:bg-none focus:text-cardinal-red active:text-cardinal-red" %>
            </h2>
            <div>
              <p class=" max-w-[100ch] text-16 sm:text-18 [&amp;_li]:text-16 [&amp;_li]:sm:text-18 text-16 sm:text-18"><%= t('lib_guides_search.sub_heading_html') %></p>
            </div>
          </div>
        </article>

        <article  class="w-full border border-solid border-black-10 bg-white leading-display text-black shadow-md lg:max-w-[980px]">
          <div class="relative h-fit w-full">
            <div class="relative aspect-[16/9]" aria-hidden="true">
              <%= image_tag 'website.jpg', class: 'object-cover object-center', style: "position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent", alt: '', role: 'presentation' %>
            </div>
          </div>
          <div class="card-body items-start px-24 py-30">
            <h2 class="mb-03em text-24 font-bold tracking-[-0.2px]">
              <%= link_to 'Library website', Settings.LIBRARY_WEBSITE_HOME_URL, class: "hocus:underline transition-colors hover:text-brick-dark hover:bg-black-10 focus:bg-none focus:text-cardinal-red active:text-cardinal-red" %>
            </h2>
            <div>
              <p class=" max-w-[100ch] text-16 sm:text-18 [&amp;_li]:text-16 [&amp;_li]:sm:text-18 text-16 sm:text-18"><%= t('library_website_api_search.sub_heading_html') %></p>
            </div>
          </div>
        </article>
  </div>
</div>

<div class="mb-30 flex flex-col gap-32 @container">
  <div class="centered flex flex-col justify-between gap-10 *:mx-auto *:w-full md:flex-row md:flex-wrap *:md:w-[calc(50%_-_5rem)] lg:flex-nowrap *:lg:w-[calc(33.3%_-_5rem)]">
        <article class="border border-solid border-black-10 bg-white leading-display text-black shadow-md">
          <div class="relative h-fit w-full">
            <div class="relative aspect-[16/9]" aria-hidden="true">
              <%= image_tag 'exhibits.jpg', class: 'object-cover object-center', style: "position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent", alt: '', role: 'presentation' %>
            </div>
          </div>
          <div class="card-body items-start px-24 py-30">
            <h2 class="mb-03em text-24 font-bold tracking-[-0.2px]">
              <%= link_to 'Exhibits', Settings.EXHIBITS.HOME_URL, class: "hocus:underline transition-colors hover:text-brick-dark hover:bg-black-10 focus:bg-none focus:text-cardinal-red active:text-cardinal-red" %>
            </h2>
            <div>
              <p class=" max-w-[100ch] text-16 sm:text-18 [&amp;_li]:text-16 [&amp;_li]:sm:text-18 text-16 sm:text-18"><%= t('exhibits_search.sub_heading_html') %></p>
            </div>
          </div>
        </article>

        <article class="border border-solid border-black-10 bg-white leading-display text-black shadow-md">
          <div class="relative h-fit w-full">
            <div class="relative aspect-[16/9]" aria-hidden="true">
              <%= image_tag 'earthworks.jpg', class: 'object-cover object-center', style: "position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent", alt: '', role: 'presentation' %>
            </div>
          </div>
          <div class="card-body items-start px-24 py-30">
            <h2 class="mb-03em text-24 font-bold tracking-[-0.2px]">
              <%= link_to 'EarthWorks', Settings.EARTHWORKS.HOME_URL, class: "hocus:underline transition-colors hover:text-brick-dark hover:bg-black-10 focus:bg-none focus:text-cardinal-red active:text-cardinal-red" %>
            </h2>
            <div>
              <p class=" max-w-[100ch] text-16 sm:text-18 [&amp;_li]:text-16 [&amp;_li]:sm:text-18 text-16 sm:text-18"><%= t('earthworks_search.sub_heading_html') %></p>
            </div>
          </div>
        </article>
  </div>
</div>

<%= render 'shared/more_search_tools' %>
