<% content_for(:head) do %>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M6F99S9');</script>
  <title><%= content_for(:title) %></title>
  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_path %>" title="<%= t('opensearch_description') %>"/>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://static.yewno.com/assets/widget/yewno.min.js?_=20200414162912000' %>
  <%= render '/layouts/quick_search/head' %>
  <%= render '/layouts/quick_search/google_analytics' %>
<% end %>

<% content_for(:body_top) do %>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6F99S9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<% end %>

<% content_for(:body_bottom) do %>
  <script type="text/javascript">
    $(function () {
      $('body').hide().show();
    });
    window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %>
  </script>
<% end %>

<%= render template: 'layouts/sul' %>
